/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 30px;
  margin-left: 3px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 15px;
}

/* The slider */
.btnDarkGraySlider, .btnCyanSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.btnDarkGraySlider:before, .btnCyanSlider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .btnDarkGraySlider {
  background-color: #2f3640;
}

input:focus + .btnDarkGraySlider {
  box-shadow: 0 0 1px #2f3640;
}

input:checked + .btnCyanSlider {
  background-color: #0eebff;
}

input:focus + .btnCyanSlider {
  box-shadow: 0 0 1px #04eaff;
}

input:checked + .btnDarkGraySlider:before, input:checked + .btnCyanSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.btnDarkGraySlider.round, .btnCyanSlider.round {
  border-radius: 34px;
}

.btnDarkGraySlider.round:before, .btnCyanSlider.round:before {
  border-radius: 50%;
}


/* The Icon switch*/
.switch-icon {
  border:none;
  content: "";
  display: inline-block;
  color: #fff;
  width: 45px;
  height: 45px;
  margin-right: 13px;
  position: relative;
  top: 0px;
  vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch-icon input {
  opacity: 0;
  width: 0;
  height: 15px;
}

.btnIconSlider {
  background: url(/static/icons/bg.png) no-repeat scroll center center / 100% auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  cursor: pointer;
}

input[type=checkbox]:hover + .btnIconSlider {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

input[type=checkbox] + .btnIconSlider {
  background: url(/static/icons/bg.png) no-repeat scroll center center / 100% auto;

}

input[type=checkbox]:checked + .btnIconSlider {
  background: url(/static/icons/pruning-bg.png) no-repeat scroll center center / 100% auto;
}
